<div class="container">

  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" [ngClass]="{'border-folder': true}">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['/messenger/inbox']">inbox</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['/messenger/finance']">finance</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['/messenger/travel']">travel</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['/messenger/personal']">personal</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['/messenger/spam']">spam</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['/messenger/drafts']">drafts</a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
          <a [routerLink]="['/messenger/sent']">sent</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

      <router-outlet></router-outlet>
      


    </div>
  </div>

</div>